.divframerUypth6Container {
  width: 1845px;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.div {
  align-self: stretch;
  flex: 1;
  position: relative;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(250, 117, 248, 0.2),
    rgba(250, 117, 248, 0)
  );
  max-width: 100%;
}
.divframer1hts9ezContainer {
  width: 1845px;
  height: 1230px;
  margin: 0 !important;
  position: absolute;
  top: 4019px;
  left: 428px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(250, 204, 105, 0.2),
    rgba(250, 204, 105, 0)
  );
  max-width: 100%;
}
.divframer1iw6iysContainer {
  width: 1845px;
  height: 1230px;
  margin: 0 !important;
  position: absolute;
  top: 4526px;
  left: -806px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.div2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(250, 117, 248, 0.2),
    rgba(250, 117, 248, 0)
  );
  max-width: 100%;
}
.div3,
.divframerW7291oContainer {
  width: 1845px;
  height: 1230px;
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
}
.divframerW7291oContainer {
  top: 2165.4px;
  right: -1235.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div3 {
  top: 1073.4px;
  left: -746.5px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(158, 110, 230, 0.22),
    rgba(158, 110, 230, 0)
  );
  z-index: 2;
}
.aiOutfitsMask {
  height: 288px;
  flex: 1;
  position: relative;
  max-width: 2000px;
  overflow: hidden;
  z-index: 3;
}
.aiOutfitsImage {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 96px;
  box-sizing: border-box;
  max-width: 100%;
}
.phase2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 64px;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(90deg, #ff91a5, #fa75f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 4;
}
.aavePancakeswapLoopring,
.bittorrentDaiDogecoin,
.tetherEthereumHelium {
  margin-bottom: 0;
}
.bittorrentDaiDogecoinCrypto {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.bittorrentDaiDogecoinContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 32px;
  z-index: 4;
}
.divframer1epq2kzInner,
.phase2Parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.phase2Parent {
  width: 528px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.divframer1epq2kzInner {
  width: 880px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 199px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.phase3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 64px;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(90deg, #fa75f8, #9e6ee6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 4;
}
.revainAudiusBitcoin,
.wavesTronDogecoin {
  margin-bottom: 0;
}
.revainAudiusBitcoinRevainP {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.revainAudiusBitcoinContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 32px;
  z-index: 4;
}
.phase3Parent {
  width: 528px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.divframer1epq2kz,
.divframer1epq2kzChild {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.divframer1epq2kzChild {
  width: 880px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 147.5px;
  flex-shrink: 0;
}
.divframer1epq2kz {
  height: 8809px;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: 560.4px 0 1266px;
  position: relative;
  gap: 152px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-800);
  font-family: var(--font-outfit);
}
.zzecgybwkakgld4hnledpz8lpcspnIcon {
  height: 508px;
  width: 816px;
  position: absolute;
  margin: 0 !important;
  top: 1575px;
  left: -160px;
  border-radius: var(--br-base);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 3;
}
.div4,
.div5 {
  position: absolute;
  width: 1845px;
  height: 1230px;
}
.div4 {
  top: 2627.5px;
  left: 719.6px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(158, 110, 230, 0.28),
    rgba(158, 110, 230, 0)
  );
  opacity: 0.8;
}
.div5 {
  top: 79px;
  left: 652.6px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(250, 117, 248, 0.28),
    rgba(250, 117, 248, 0)
  );
}
.div6 {
  top: 62.94%;
  right: 35.94%;
  bottom: 5.17%;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(92, 195, 250, 0.28),
    rgba(92, 195, 250, 0)
  );
  opacity: 0.8;
  z-index: 1;
}
.div6,
.div7,
.div8 {
  position: absolute;
  height: 31.89%;
  width: 64.06%;
}
.div7 {
  top: 15.74%;
  right: 0;
  bottom: 52.38%;
  left: 35.94%;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(158, 110, 230, 0.28),
    rgba(158, 110, 230, 0)
  );
  opacity: 0.8;
  z-index: 1;
}
.div8 {
  top: 31.47%;
  right: 35.94%;
  bottom: 36.64%;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(250, 204, 105, 0.28),
    rgba(250, 204, 105, 0)
  );
  opacity: 0.7;
  z-index: 2;
}
.div9,
.divParent {
  position: absolute;
  z-index: 3;
}
.div9 {
  height: 31.89%;
  width: 64.06%;
  top: 0;
  right: 35.94%;
  bottom: 68.11%;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(92, 195, 250, 0.28),
    rgba(92, 195, 250, 0)
  );
  opacity: 0.8;
}
.divParent {
  height: 3857.5px;
  width: 2880px;
  margin: 0 !important;
  bottom: 5099.7px;
  left: -720.5px;
}
.pcuvucmvjxjc5kaupqngvzjs7xwpnIcon,
.tbp2bbcx80jprs6pki8ghijqy8pngIcon {
  height: 503.2px;
  width: 629px;
  position: absolute;
  margin: 0 !important;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 4;
}
.tbp2bbcx80jprs6pki8ghijqy8pngIcon {
  top: 5953.8px;
  right: -67.9px;
  border-radius: var(--br-base);
}
.pcuvucmvjxjc5kaupqngvzjs7xwpnIcon {
  top: 6560.9px;
  right: -100.5px;
  border-radius: 12px;
}
.aigen,
.divframerSrcxx {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.divframerSrcxx {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 4625.2px;
  box-sizing: border-box;
  min-height: 14140px;
  max-width: 100%;
  z-index: 2;
}
.aigen {
  height: 8249px;
  position: relative;
  background-color: #000;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 825px) {
  .phase2,
  .phase3 {
    font-size: var(--font-size-19xl);
    line-height: 51px;
  }
  .divframer1epq2kz {
    height: auto;
    gap: 76px;
  }
  .aigen {
    height: auto;
    min-height: 8249;
  }
}
@media screen and (max-width: 450px) {
  .phase2 {
    font-size: var(--font-size-10xl);
    line-height: 38px;
  }
  .bittorrentDaiDogecoinContainer {
    font-size: var(--font-size-base);
    line-height: 26px;
  }
  .phase3 {
    font-size: var(--font-size-10xl);
    line-height: 38px;
  }
  .revainAudiusBitcoinContainer {
    font-size: var(--font-size-base);
    line-height: 26px;
  }
  .divframer1epq2kz {
    gap: 38px;
  }
}
